<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="d-flex align-items-center">
    <div class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <h2 class="text-center">Survey - 1</h2>
            <div class="p-3 border bg-light">
                <!-- Replace the iframe URL with your Google Form URL -->
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScGXFTq9EcB_HWOOut-xiBZJrqTZFtWpCeA-QjWzI9s6ePOIw/viewform?embedded=true" width="640" height="2181" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
            <div class="text-center mt-3">
                <a class="btn btn-primary" href="/intro">Proceed</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
