<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">Instructions</h2>
        <div class="p-3 border bg-light">
            <ul>
                <li> Welcome to the experimental study aimed at understanding investment decisions in a simulated asset market.
                Assume that before the start of the game, you own 100 units of each of the four securities: A,
                B, C, and D. Initial price of each security is INR 100.</li><br>
        
                <li> Initially, the trading screen will display price movements of securities A and B side by side, and later,
                securities C and D. Although securities are displayed together, they are independent of each other.</li><br>
                
                <li> Price fluctuations simulate a trade year with 12 trading periods, allowing monthly trade opportunity at the
                end of each month (on the 20th trading day). Each trade price movement will stop at the end of the month for 1
                minute (30 seconds per security). A timer appears at the top of the screen.</li><br>
    
                <li> The trading window shows price charts of each security, the month's highest and lowest prices, and your current
	        holdings.</li><br>
                
                <li> You can buy, hold, or sell securities. Please consider your upper income limit that you have mentioned in the
                survey 1 while making buy decisions.</li><br>
               
                <li> Indicate your trade decisions along with the number of securities you intend to buy or sell. A hold decision is                  assumed if you do not select either buy or sell for a security. Inaction within the allotted time is considered as a hold 
                decision and the trade screen will move forward towards the next month and so on till the game ends.</li><br>
                
                
                <li> Your final return on your portfolio will be provided after the experiment.</li><br>
            </ul>
            <div class="text-center">
                <a class="btn btn-primary" href="/trade">Proceed</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
